@inherits LayoutComponentBase

<div class="wrapper">
    <NavMenu />
    <div class="main">
        <TopNavMenu />
        <main class="content">
            <div class="container-fluid p-0">
                @Body
            </div>
        </main>
        <Footer />
    </div>
</div>

