<div class="row mt-3">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="d-flex">
					<div class="flex-shrink-0">
						<i class="fa-solid fa-circle-exclamation text-danger display-6"></i>
					</div>
					<div class="flex-grow-1 ms-3">
						<h3>Error</h3>
						<p>@ErrorMessage</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@code{

	[Parameter]
	public string ErrorMessage { get; set; } = "There was an error while executing your request. Please try again later.";
}
