@if(Errors != null)
{
    <div class="alert alert-danger">
        @foreach(var error in Errors)
        {
            <p>@error</p>
        }
    </div>
}

@code {
    [Parameter]
    public List<string> Errors { get; set; }
}
